<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Конструктор Python + Flask + Sqlite3</title>
    <link rel="stylesheet" href="/static/designer_css.css">
</head>
<body>
    <div class="designer_body_parents_cl">
        <h2>Конструктор сайтов Python + Flask + Sqlite3</h2>
        <div class="designer_body_cl">
            <h3>Главный каркас сайта</h3>
            <div class="load_icon_main_parents_cl">
                <div class="load_icon_main_cl">
                    <h4>1_иконка загрузки страницы</h4>
                    <span><input name="radio_main_1" type="radio" id="radio_main_1_1_id" checked>нет</span>
                    <span><input name="radio_main_1" type="radio" id="radio_main_1_2_id">логотип организации</span>
                    <span><input name="radio_main_1" type="radio" id="radio_main_1_3_id">модальное окно загрузки</span>
                </div>
                <div class="load_icon_main_cl">
                    <h4>2_backgraund body</h4>
                    <span><input name="radio_main_2" type="radio" id="radio_main_2_1_id" checked>backgraund:</span>
                    <span><input name="radio_main_2" type="radio" id="radio_main_2_2_id">backgraund-gradient:</span>
                    <span><input name="radio_main_2" type="radio" id="radio_main_2_3_id">backgraund-image-cover:</span>
                    <span><input name="radio_main_2" type="radio" id="radio_main_2_4_id">backgraund-image-replay:</span>
                </div>
            </div>
        </div>
        <div class="designer_body_cl">
            <h3>шапка сайта</h3>
            <div class="load_icon_main_parents_cl">
                <div class="load_icon_main_cl">
                    <h4>3_тип шапки</h4>
                    <span><input name="radio_head_1" type="radio" id="radio_head_1_1_id" checked>фиксированный</span>
                    <span><input name="radio_head_1" type="radio" id="radio_head_1_2_id">стационарный</span>
                </div>
                <div class="load_icon_main_cl">
                    <h4>4_заметка</h4>
                    <span><input name="radio_head_2" type="radio" id="radio_head_2_1_id" checked>нет:</span>
                    <span><input name="radio_head_2" type="radio" id="radio_head_2_2_id">есть:</span>
                </div>
                <div class="load_icon_main_cl">
                    <h4>5_Наличие рабочих блоков</h4>
                    <span><input type="checkbox" id="radio_head_3_1_id">иконка организации</span>
                    <span><input type="checkbox" id="radio_head_3_2_id" checked disabled>каталог</span>
                    <span><input type="checkbox" id="radio_head_3_3_id">поиск</span>
                    <span><input type="checkbox" id="radio_head_3_4_id">контакты</span>
                    <span><input type="checkbox" id="radio_head_3_5_id">регистрация</span>
                    <span><input type="checkbox" id="radio_head_3_7_id">местонахождение</span>
                    <!--количество каталогов-->
                    <span><input type="number" id="radio_head_text_id" placeholder="0">-количество каталогов</span>
                </div>
            </div>
        </div>
        <div class="designer_body_cl">
            <h3>количество и наименование доп. каталогов</h3>
            <div class="load_icon_main_cl" id="dividing_catalogs_id">

            </div>
        </div>
        <div class="designer_body_cl">
            <h3>функциональные страницы</h3>
            <div class="load_icon_main_cl">
                <span><input type="checkbox" id="radio_footer_1_1_id">страницы поиска товаров</span>
                <span><input type="checkbox" id="radio_footer_1_2_id">страница корзина</span>
                <span><input type="checkbox" id="radio_footer_1_3_id">страница контактов</span>
                <span><input type="checkbox" id="radio_footer_1_4_id">страница местоположения</span>
                <span><input type="checkbox" id="radio_footer_1_5_id">страница регистрации</span>
            </div>
        </div>
    </div>
    <script src="/static/designer_js.js"></script>
</body>
</html>